<launch>

	<arg name="project" default="lio_sam"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find voxel_slam)/launch/include/config/unitree_robot.urdf.xacro --inorder" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
        <param name="tf_prefix" value="unitree"/>
    </node>
  
</launch>